<%- include('header.ejs') %> 
<section id="Overview" class="basis-4/5">
  <h1 class="heading hidden md:block md:text-[1.5rem] text-[#405052] font-[600] font-[Inter] lg:text-[2rem] pl-6">Dashboard</h1>
  <hr class="hidden md:block border-[#064c4e]">
  
  <% if (locals.fullname) { %>
    <h1 class="overview1 md:py-2 lg:py-4 text-[#d1d2d2] font-[Inter] font-[800] md:text-[1.5rem] lg:text-[2.5rem] pl-6">Hi, <%= fullname %></h1>
  <% } else { %>
    <h1 class="overview1 text-[#d1d2d2] font-[Inter] font-[800] md:text-[1.5rem] lg:text-[2.5rem] pl-6">Hi, USER_101</h1>
  <% } %>

  <h1 class="overview_txt text-[#405052] font-[600] pl-6 md:pb-2 lg:pb-4 lg:text-[2.5rem] font-[Inter]">Overview</h1>

  <div class="overview mx-4 grid grid-cols-2 md:grid-cols-4 gap-3">
    <% if (locals.balance && locals.income && locals.expenses && locals.savings) { %>
      <div class="card balance border group border-[#064c4e] bg-[#282f35] text-[#e5e6e7] backdrop-blur-[35.65px] rounded-[8.488px] p-5 box-border lg:text-[20px] md:text-[15px] font-medium hover:bg-[#bafc59] hover:text-[#002226] hover:font-extrabold font-[Inter]"> 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-10 h-10 text-white group-hover:text-[#002226] fill-current "><path d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-224c0-35.3-28.7-64-64-64L80 128c-8.8 0-16-7.2-16-16s7.2-16 16-16l368 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L64 32zM416 272a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg> 
        <br>Balance 
        <div class="edit" style="position: absolute; right: 20px; top: 20px;">&#10247</div>
        <div class="amount_be">&#8377; <%= balance %></div>
      </div>
      <div class="card income border border-[#064c4e] bg-[#282f35] text-[#e5e6e7] backdrop-blur-[35.65px] rounded-[8.488px] p-5 box-border lg:text-[20px] md:text-[15px] font-medium group hover:bg-[#bafc59] hover:text-[#002226] hover:font-extrabold font-[Inter]"> 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-10 h-10 text-white group-hover:text-[#002226] fill-current "><path d="M326.7 403.7c-22.1 8-45.9 12.3-70.7 12.3s-48.7-4.4-70.7-12.3l-.8-.3c-30-11-56.8-28.7-78.6-51.4C70 314.6 48 263.9 48 208C48 93.1 141.1 0 256 0S464 93.1 464 208c0 55.9-22 106.6-57.9 144c-1 1-2 2.1-3 3.1c-21.4 21.4-47.4 38.1-76.3 48.6zM256 91.9c-11.1 0-20.1 9-20.1 20.1l0 6c-5.6 1.2-10.9 2.9-15.9 5.1c-15 6.8-27.9 19.4-31.1 37.7c-1.8 10.2-.8 20 3.4 29c4.2 8.8 10.7 15 17.3 19.5c11.6 7.9 26.9 12.5 38.6 16l2.2 .7c13.9 4.2 23.4 7.4 29.3 11.7c2.5 1.8 3.4 3.2 3.7 4c.3 .8 .9 2.6 .2 6.7c-.6 3.5-2.5 6.4-8 8.8c-6.1 2.6-16 3.9-28.8 1.9c-6-1-16.7-4.6-26.2-7.9c0 0 0 0 0 0s0 0 0 0s0 0 0 0c-2.2-.7-4.3-1.5-6.4-2.1c-10.5-3.5-21.8 2.2-25.3 12.7s2.2 21.8 12.7 25.3c1.2 .4 2.7 .9 4.4 1.5c7.9 2.7 20.3 6.9 29.8 9.1l0 6.4c0 11.1 9 20.1 20.1 20.1s20.1-9 20.1-20.1l0-5.5c5.3-1 10.5-2.5 15.4-4.6c15.7-6.7 28.4-19.7 31.6-38.7c1.8-10.4 1-20.3-3-29.4c-3.9-9-10.2-15.6-16.9-20.5c-12.2-8.8-28.3-13.7-40.4-17.4l-.8-.2c-14.2-4.3-23.8-7.3-29.9-11.4c-2.6-1.8-3.4-3-3.6-3.5c-.2-.3-.7-1.6-.1-5c.3-1.9 1.9-5.2 8.2-8.1c6.4-2.9 16.4-4.5 28.6-2.6c4.3 .7 17.9 3.3 21.7 4.3c10.7 2.8 21.6-3.5 24.5-14.2s-3.5-21.6-14.2-24.5c-4.4-1.2-14.4-3.2-21-4.4l0-6.3c0-11.1-9-20.1-20.1-20.1zM48 352l16 0c19.5 25.9 44 47.7 72.2 64L64 416l0 32 192 0 192 0 0-32-72.2 0c28.2-16.3 52.8-38.1 72.2-64l16 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48l0-64c0-26.5 21.5-48 48-48z"/></svg>
        <br>Income
        <div class="edit" style="position: absolute; right: 20px; top: 20px;">&#10247</div>
        <div class="amount_be">&#8377; <%= income %></div>
      </div>
      <div class="card expenses border border-[#064c4e] bg-[#282f35] text-[#e5e6e7] backdrop-blur-[35.65px] rounded-[8.488px] p-5 box-border lg:text-[20px] md:text-[15px] font-medium group hover:bg-[#bafc59] hover:text-[#002226] hover:font-extrabold font-[Inter]"> 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="w-10 h-10 text-white group-hover:text-[#002226] fill-current "><path d="M96 96l0 224c0 35.3 28.7 64 64 64l416 0c35.3 0 64-28.7 64-64l0-224c0-35.3-28.7-64-64-64L160 32c-35.3 0-64 28.7-64 64zm64 160c35.3 0 64 28.7 64 64l-64 0 0-64zM224 96c0 35.3-28.7 64-64 64l0-64 64 0zM576 256l0 64-64 0c0-35.3 28.7-64 64-64zM512 96l64 0 0 64c-35.3 0-64-28.7-64-64zM288 208a80 80 0 1 1 160 0 80 80 0 1 1 -160 0zM48 120c0-13.3-10.7-24-24-24S0 106.7 0 120L0 360c0 66.3 53.7 120 120 120l400 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-400 0c-39.8 0-72-32.2-72-72l0-240z"/></svg>
        <br>Expenses
        <div class="edit" style="position: absolute; right: 20px; top: 20px;">&#10247</div>
        <div class="amount_be">&#8377; <%= expenses %></div>
      </div>
      <div class="card savings border border-[#064c4e] bg-[#282f35] text-[#e5e6e7] backdrop-blur-[35.65px] rounded-[8.488px] p-5 box-border lg:text-[20px] md:text-[15px] font-medium group hover:bg-[#bafc59] hover:text-[#002226] hover:font-extrabold font-[Inter] "> 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" 
     class="w-10 h-10 text-white group-hover:text-[#002226] fill-current ">
  <path d="M400 96l0 .7c-5.3-.4-10.6-.7-16-.7L256 96c-16.5 0-32.5 2.1-47.8 6c-.1-2-.2-4-.2-6c0-53 43-96 96-96s96 43 96 96zm-16 32c3.5 0 7 .1 10.4 .3c4.2 .3 8.4 .7 12.6 1.3C424.6 109.1 450.8 96 480 96l11.5 0c10.4 0 18 9.8 15.5 19.9l-13.8 55.2c15.8 14.8 28.7 32.8 37.5 52.9l13.3 0c17.7 0 32 14.3 32 32l0 96c0 17.7-14.3 32-32 32l-32 0c-9.1 12.1-19.9 22.9-32 32l0 64c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-32-128 0 0 32c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-64c-34.9-26.2-58.7-66.3-63.2-112L68 304c-37.6 0-68-30.4-68-68s30.4-68 68-68l4 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-4 0c-11 0-20 9-20 20s9 20 20 20l31.2 0c12.1-59.8 57.7-107.5 116.3-122.8c12.9-3.4 26.5-5.2 40.5-5.2l128 0zm64 136a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z"/>
</svg>

        
        <br>Savings
        <div class="edit" style="position: absolute; right: 20px; top: 20px;">&#10247</div>
        <div class="amount_be">&#8377; <%= savings %></div>
      </div>
    <% } else { %>
      <div class="card balance border-[#064c4e] bg-[#282f35] text-[#e5e6e7] backdrop-blur-[35.65px] rounded-[8.488px] p-5 box-border text-[20px] font-medium hover:bg-[#bafc59] hover:text-[#002226] hover:text-[25px] hover:font-extrabold font-[Inter] lg:text-[20px] md:text-[15px]"> 
        <img src="src/Card_Wallet.png" class="card-img md:scale-[0.6] lg:scale-[1]" data-hover-img="src/Card_Wallet_bg.png"> 
        <br>Balance 
        <div class="edit" style="position: absolute; right: 20px; top: 20px;">&#10247</div>
        <div class="amount_be">&#8377; NIL</div>
      </div>
      <div class="card income border-[#064c4e] bg-[#282f35] text-[#e5e6e7] backdrop-blur-[35.65px] rounded-[8.488px] p-5 box-border text-[20px] font-medium hover:bg-[#bafc59] hover:text-[#002226] hover:text-[25px] hover:font-extrabold font-[Inter] lg:text-[20px] md:text-[15px]"> 
        <img src="src/Dollar_Coin.png" class="card-img md:scale-[0.6] lg:scale-[1]" data-hover-img="src/Dollar_Coin_bg.png">
        <br>Income
        <div class="edit" style="position: absolute; right: 20px; top: 20px;">&#10247</div>
        <div class="amount_be">&#8377; NIL</div>
      </div>
      <div class="card expenses border-[#064c4e] bg-[#282f35] text-[#e5e6e7] backdrop-blur-[35.65px] rounded-[8.488px] p-5 box-border text-[20px] font-medium hover:bg-[#bafc59] hover:text-[#002226] hover:text-[25px] hover:font-extrabold font-[Inter] lg:text-[20px] md:text-[15px]"> 
        <img src="src/Paycheque.png" class="card-img md:scale-[0.6] lg:scale-[1]" data-hover-img="src/Paycheque_bg.png">
        <br>Expenses
        <div class="edit" style="position: absolute; right: 20px; top: 20px;">&#10247</div>
        <div class="amount_be">&#8377; NIL</div>
      </div>
      <div class="card savings border-[#064c4e] bg-[#282f35] text-[#e5e6e7] backdrop-blur-[35.65px] rounded-[8.488px] p-5 box-border text-[20px] font-medium hover:bg-[#bafc59] hover:text-[#002226] hover:text-[25px] hover:font-extrabold font-[Inter] lg:text-[20px] md:text-[15px]"> 
        <img src="src/Money_Box.png" class="card-img md:scale-[0.6] lg:scale-[1]" data-hover-img="src/Money_Box_bg.png">
        <br>Savings
        <div class="edit" style="position: absolute; right: 20px; top: 20px;">&#10247</div>
        <div class="amount_be">&#8377; NIL</div>
      </div>
    <% } %>

    
    <div class="lg_card all_expenses col-span-2 border-[#064c4e] bg-[#282f35] text-[#e5e6e7] backdrop-blur-[35.65px] rounded-[8.488px] p-5 box-border lg:text-[20px] md:text-[15px] font-medium font-[Inter]">
      All Expenses
      <div id="chart"></div> 
      <div id="no-expenses-message" style="display: none;" class="text-gray-500">No expenses till now.</div>
      <script>
        function fetchDataAndRenderChart() {
          var data = <%- JSON.stringify(chartData) %>;
          const categories = data.map(item => item.category);
          const seriesData = data.map(item => item.total);

          if (categories.length === 0) {
            document.getElementById('no-expenses-message').style.display = 'block';
            document.getElementById('chart').style.display = 'none';
          } else {
            document.getElementById('no-expenses-message').style.display = 'none';
            document.getElementById('chart').style.display = 'block';

            var options = {
              chart: { type: 'pie', height: 225 },
              labels: categories,
              dataLabels: {
                enabled: true,
                style: {
                  colors: ['#fff'],
                  fontSize: '10px',
                  fontFamily: 'Montserrat, sans-serif'
                }
              },
              stroke: { show: true, width: 2, colors: ['transparent'] },
              fill: { opacity: 1 },
              legend: {
                labels: {
                  colors: '#fff',
                  fontSize: '14px',
                  fontFamily: 'Montserrat, sans-serif'
                }
              },
              colors: ['#85ec68', '#ff5722', '#2196f3', '#ffc107', '#9c27b0'] 
            };

            var chart = new ApexCharts(document.querySelector("#chart"), { ...options, series: seriesData });
            chart.render();
          }
        }
        fetchDataAndRenderChart();
      </script>
    </div>
    <div class="lg_card all_expenses col-span-2 border-[#064c4e] bg-[#282f35] text-[#e5e6e7] backdrop-blur-[35.65px] rounded-[8.488px] p-5 box-border font-bold lg:text-[20px] md:text-[15px]  font-[Inter]">
        AI Suggestions <br>
       <span class="font-light">  <%= locals.advice %></span>
    </div>

  
    <div class="large-card transaction col-span-2 md:col-span-4 relative p-5 bg-[#282f35] text-[#e5e6e7] lg:text-[20px] md:text-[15px] font-[500] rounded-lg">
      Transaction History
      <div class="open absolute top-5 right-5 text-[#e5e6e7] hover:text-[#85ec68] cursor-pointer">+</div>
      <div class="transactions">
        <div id="myModal" class="modal fixed inset-0 hidden z-10 overflow-auto bg-black bg-opacity-40">
          <div class="modal-content bg-[#282f35] backdrop-blur-[25.65px] mx-auto mt-[15%] w-[90%] rounded-[16px] p-5 relative">
            <span class="close text-[#aaa] float-right text-2xl font-bold cursor-pointer hover:text-[#85ec68]">&times;</span>
            <h2 class="text-[#e5e6e7] mb-6">Add Transaction</h2>
            <form id="transactionForm" method="post" action="/transactions" class="flex flex-col md:flex-row gap-4 items-center w-full px-4">
  
               
                <div class="flex flex-col gap-2 items-center md:flex-row w-full">
                  <label for="amount" class="lg:text-[18px] md:text-[15px] text-[#e5e6e7] mb-2">Amount:</label>
                  <input type="number" id="amount" name="amount" required class="bg-transparent border w-full border-[#064c4e] text-[#d1d2d2] rounded-md px-2 py-2 focus:outline-none">
                </div>
              
                
                <div class="flex flex-col md:flex-row gap-2 items-center  w-full">
                  <label for="type" class="lg:text-[18px] md:text-[15px] text-[#e5e6e7] mb-2">Type:</label>
                  <select id="type" name="type" required class="bg-transparent border border-[#064c4e] text-[#d1d2d2] rounded-md px-2 py-2 w-full focus:outline-none">
                    <option value="debit">Debit</option>
                    <option value="credit">Credit</option>
                  </select>
                </div>
              
               
                <div class="flex flex-col md:flex-row gap-2 items-center w-full">
                  <label for="category" class="lg:text-[18px] md:text-[15px] text-[#e5e6e7] mb-2">Category:</label>
                  <select id="category" name="category" required class="bg-transparent border border-[#064c4e] text-[#d1d2d2] rounded-md px-2 py-2 w-full focus:outline-none">
                    <option value="groceries">Groceries</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="utilities">Utilities</option>
                    <option value="transportation">Transportation</option>
                    <option value="rent">Rent</option>
                    <option value="other">Other</option>
                  </select>
                  
                 
                  <select id="category-credit" name="category" required class="bg-transparent border border-[#064c4e] text-[#d1d2d2] rounded-md px-2 py-2 w-full focus:outline-none hidden" disabled>
                    <option value="salary">Salary</option>
                    <option value="investment">Investment</option>
                    <option value="refund">Refund</option>
                    <option value="bonus">Bonus</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              
                
                <div class="w-full">
                  <button type="submit" class="w-full text-[18px] md:text-[15px] font-inter rounded-md border border-[#85ec68] text-[#85ec68] font-semibold hover:bg-[#85ec68] hover:text-[#002226] transition-colors duration-300 px-4 py-2">
                    Add Transaction
                  </button>
                </div>
              
              </form>
              
          </div>
        </div>
      </div>

      <% if (transactions.length > 0) { %>
        <div class="flex flex-col">
          <div class="-mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
              <div class="overflow-hidden shadow ring-1 ring-[#064c4e] ring-opacity-5 sm:rounded-lg max-h-[250px] overflow-y-auto">
                <table class="min-w-full divide-y divide-[#064c4e]">
                  <thead class="bg-[#282f35] sticky top-0 backdrop-blur-lg">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-[#4b5657] uppercase">Amount</th>
                      <th scope="col" class="md:px-6 py-3 text-left text-xs font-bold text-[#4b5657] uppercase">Type</th>
                      <th scope="col" class="md:px-6 py-3 text-left text-xs font-bold text-[#4b5657] uppercase">Category</th>
                    </tr>
                  </thead>
                  <tbody class="bg-transparent divide-y divide-[#064c4e]">
                    <% transactions.forEach(function(transaction) { %>
                      <tr class="group hover:bg-[#85ec68] transition duration-300 ease-in-out">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white group-hover:text-[#002226]">&#8377; <%= transaction.amount %></td>
                        <td class="md:px-6 py-4 whitespace-nowrap text-sm text-white group-hover:text-[#002226]"><%= transaction.type %></td>
                        <td class="md:px-6 py-4 whitespace-nowrap text-sm text-white group-hover:text-[#002226]"><%= transaction.category %></td>
                        <td class="md:px-6 py-4 whitespace-nowrap text-sm text-white group-hover:text-[#002226]">
                          <button class="delete-btn" data-transaction-id="<%= transaction.transaction_id %>">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="18" height="18" fill="red">
                              <path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                            </svg>
                          </button>
                        </td>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% } else { %>
        <p class="text-gray-500">No transactions found</p>
      <% } %>
    </div>
  </div>
</section>
<%- include('footer.ejs') %>
